<div id="coments_area" class="block">
      	  <div class="block_inside">
            <ol id="coment_list">
              <li>
                <p class="name"><cite>Nick:</cite></p>
                <p class="time">February 8th, 2009 at 5:38 am</p>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nunc euismod adipiscing magna. Quisque sollicitudin nisi a nisi feugiat suscipit. Praesent molestie. Curabitur laoreet, augue in pharetra adipiscing, ipsum lectus blandit leo, quis viverra odio purus eget lectus. </p>
                <ol id="coment_list">
                  <li>
                    <p class="name"><cite>Nick:</cite></p>
                    <p class="time">February 8th, 2009 at 5:38 am</p>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nunc euismod adipiscing magna. Quisque sollicitudin nisi a nisi feugiat suscipit. Praesent molestie. Curabitur laoreet, augue in pharetra adipiscing, ipsum lectus blandit leo, quis viverra odio purus eget lectus. </p>
                    <ol id="coment_list">
                      <li>
                        <p class="name"><cite>Nick:</cite></p>
                        <p class="time">February 8th, 2009 at 5:38 am</p>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nunc euismod adipiscing magna. Quisque sollicitudin nisi a nisi feugiat suscipit. Praesent molestie. Curabitur laoreet, augue in pharetra adipiscing, ipsum lectus blandit leo, quis viverra odio purus eget lectus. </p>
                        <ol id="coment_list">
                          <li>
                            <p class="name"><cite>Nick:</cite></p>
                            <p class="time">February 8th, 2009 at 5:38 am</p>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nunc euismod adipiscing magna. Quisque sollicitudin nisi a nisi feugiat suscipit. Praesent molestie. Curabitur laoreet, augue in pharetra adipiscing, ipsum lectus blandit leo, quis viverra odio purus eget lectus. </p>
                            <ol id="coment_list">
                              <li>
                                <p class="name"><cite>Nick:</cite></p>
                                <p class="time">February 8th, 2009 at 5:38 am</p>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nunc euismod adipiscing magna. Quisque sollicitudin nisi a nisi feugiat suscipit. Praesent molestie. Curabitur laoreet, augue in pharetra adipiscing, ipsum lectus blandit leo, quis viverra odio purus eget lectus. </p>
                                <ol id="coment_list">
                                  <li>
                                    <p class="name"><cite>Nick:</cite></p>
                                    <p class="time">February 8th, 2009 at 5:38 am</p>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nunc euismod adipiscing magna. Quisque sollicitudin nisi a nisi feugiat suscipit. Praesent molestie. Curabitur laoreet, augue in pharetra adipiscing, ipsum lectus blandit leo, quis viverra odio purus eget lectus. </p>
                                    <ol id="coment_list">
                                      <li>
                                        <p class="name"><cite>Nick:</cite></p>
                                        <p class="time">February 8th, 2009 at 5:38 am</p>
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nunc euismod adipiscing magna. Quisque sollicitudin nisi a nisi feugiat suscipit. Praesent molestie. Curabitur laoreet, augue in pharetra adipiscing, ipsum lectus blandit leo, quis viverra odio purus eget lectus. </p>
                                        <ol id="coment_list">
                                          <li>
                                            <p class="name"><cite>Nick:</cite></p>
                                            <p class="time">February 8th, 2009 at 5:38 am</p>
                                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nunc euismod adipiscing magna. Quisque sollicitudin nisi a nisi feugiat suscipit. Praesent molestie. Curabitur laoreet, augue in pharetra adipiscing, ipsum lectus blandit leo, quis viverra odio purus eget lectus. </p>
                                            <ol id="coment_list">
                                              <li>
                                                <p class="name"><cite>Nick:</cite></p>
                                                <p class="time">February 8th, 2009 at 5:38 am</p>
                                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nunc euismod adipiscing magna. Quisque sollicitudin nisi a nisi feugiat suscipit. Praesent molestie. Curabitur laoreet, augue in pharetra adipiscing, ipsum lectus blandit leo, quis viverra odio purus eget lectus. </p>
                                                <ol id="coment_list">
                                                  <li>
                                                    <p class="name"><cite>Nick:</cite></p>
                                                    <p class="time">February 8th, 2009 at 5:38 am</p>
                                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nunc euismod adipiscing magna. Quisque sollicitudin nisi a nisi feugiat suscipit. Praesent molestie. Curabitur laoreet, augue in pharetra adipiscing, ipsum lectus blandit leo, quis viverra odio purus eget lectus. </p>
                                                  </li>
                                                </ol>
                                              </li>
                                            </ol>
                                          </li>
                                        </ol>
                                      </li>
                                    </ol>
                                  </li>
                                </ol>
                              </li>
                            </ol>
                          </li>
                        </ol>
                      </li>
                    </ol>
                  </li>
                </ol>
              </li>
              <li>
                <img class="avatar avatar-35 photo gravatarImg" alt="" src="" height="35" width="35" data-email="dymytrhy@gmail.com">
                <p class="name"><cite>Nick:</cite></p>
                <p class="time">February 8th, 2009 at 5:38 am</p>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nunc euismod adipiscing magna. Quisque sollicitudin nisi a nisi feugiat suscipit. Praesent molestie. Curabitur laoreet, augue in pharetra adipiscing, ipsum lectus blandit leo, quis viverra odio purus eget lectus. </p>
              </li>
            </ol>
          </div>
      	</div><!-- #coments_area -->