<div id="footer">
    <div class="container">
      <div class="footer_column long">
        <h3>Designed by Collis Ta’eed, do with this as you please</h3>
        <p>You can read a photoshop tutorial for creating the design at <a href="http://psdtuts.com">PSDTUTS</a>, You can read a PS-&gt;HTML tutorial for creating the site at <a href="http://nettuts.com">NETTUTS</a> and you can learn how to turn the HTML into a WordPress theme in the upcoming book <a href="http://freelanceswitch.com/book">How to be a Rockstar WordPress Designer</a></p>
      </div><!-- .footer_column -->
      <div class="footer_column">
        <h3>More Links</h3>
				<ul>
       		<li><a href="http://vectortuts.com">VECTORTUTS</a></li>
        	<li><a href="http://activeden.net">FlashDen</a></li>
        	<li><a href="http://audiojungle.net">AudioJungle</a></li>
        	<li><a href="http://freelanceswitch.com">FreelanceSwitch</a></li>
        	<li><a href="http://faveup.com">FaveUp</a></li>
      	</ul>
      </div><!-- .footer_column -->
      <div class="footer_column">
        <h3>RSS</h3>
        <ul>
          <li><a href="">RSS Feed</a></li>
          <li><a href="">What is RSS?</a></li>
        </ul>
      </div><!-- .footer_column -->
    </div><!-- .container -->
  </div><!-- #footer -->