<div id="header">
        <ul id="menu">
          <li><a href="">Portfolio</a></li>
          <li><a href="front page.html" class="active">Home</a></li>
          <li><a href="">Services</a></li>
          <li><a href="">About</a></li>
          <li><a href="">Testimonials</a></li>
          <li><a href="">Request a Quote</a></li>
        </ul>
        <div id="logo">
          <h1>NicosKaralis</h1>
          <small>THE blog for rails developers</small>
        </div>
      </div>