<div id="advertising">
    <!-- Google analitics -->
    <script type="text/javascript"> 

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-23976290-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
      })();

    </script>
    
    <!-- Advertising boo-box -->
    <script type="text/javascript">
    	bb_bid = "1615455";
    	bb_lang = "pt-BR";
    	bb_keywords = "rails, cursos, ingles, promoção";
    	bb_name = "custom";
    	bb_limit = "8";
    	bb_format = "bbb";
    </script>
    <script type="text/javascript" src="http://static.boo-box.com/javascripts/embed.js"></script>
    <script type="text/javascript">
    	bb_bid = "1615455";
    	bb_lang = "pt-BR";
    	bb_keywords = "";
    	bb_name = "custom";
    	bb_limit = "7";
    	bb_format = "bbc";
    </script>
    <script type="text/javascript" src="http://static.boo-box.com/javascripts/embed.js"></script>
  </div><!-- #advertising -->