<div id="sidebar">
      	<img src="images/ribbon_browse.png" class="ribbon" alt="Featured Project">
      	<div class="block_inside">
        	<h3>Services</h3>
         	<ul>
          	<li><a href="">Branding</a></li>
          	<li><a href="">Graphic Design</a></li>
           	<li><a href="">Web Development</a></li>
          	<li><a href="">Marketing</a></li>  
        	</ul>
          <h3>Related Portfolio Items</h3>
        	<ul>
           	<li><a href="">Eden Branding</a></li>
           	<li><a href="">FlashDen Logo Design</a></li>
         		<li><a href="">PSDTUTS Website</a></li>
        	</ul>
        	<div id="tags">
        	  <div class="popup">
        	    <div class="popup_inside">
        	      <h3>Tags</h3>
                <a href="#">Notes</a>
                <a href="#">Mac OS X</a>
                <a href="#">AD</a>
                <a href="#">Teste</a>
                <a href="#">Desenvolvimento</a>
                <a href="#">Programação</a>
                <a href="#">Ruby</a>
                <a href="#">Ruby on Rails</a>
                <div class="clear"></div>
        	    </div>
          	</div><!-- .popup -->
          	<div class="pre_popup">
              <h3>Tags</h3>
            </div>
        	</div><!-- #tags -->
        	<div id="posts">
        	  <div class="popup">
        	    <div class="popup_inside">
          	  <h3>Posts</h3>
              <a href="#">Notes</a>
              <a href="#">Mac OS X</a>
              <a href="#">AD</a>
              <a href="#">Teste</a>
              <a href="#">Desenvolvimento</a>
              <a href="#">Programação</a>
              <a href="#">Ruby</a>
              <a href="#">Ruby on Rails</a>
              <div class="clear"></div>
              </div>
          	</div><!-- .popup -->
          	<div class="pre_popup">
              <h3>Posts</h3>
            </div>
        	</div><!-- #posts -->
      	</div>
      </div>