<div class="spread-single">
                <ul id="social">
                    <li class="plusone">
                      <g:plusone></g:plusone>
                    </li>
                    <li class="fblike">
                      <%= facebook_like %>
                      <!-- <iframe src="http://www.facebook.com/plugins/like.php?
                                              app_id=182129078509067&amp;href=nicosblog.heroku.com
                                              &amp;send=false&amp;layout=button_count
                                              &amp;width=450&amp;show_faces=true
                                              &amp;action=like&amp;colorscheme=light
                                              &amp;font=verdana&amp;height=21"
                                              scrolling="no" frameborder="0" class="iframe-f" allowtransparency="true"></iframe> -->
                    </li>
                    <li class="bs-twitter">
                        <a href="http://twitter.com/share" class="twitter-share-button iframe-t" data-count="horizontal" data-via="NicosKaralis"></a>
                    </li>
                </ul>
                <img class="avatar avatar-35 photo gravatarImg" alt="" src="" height="35" width="35" data-email="dymytrhy@gmail.com">
                <div class="Authordate">
                    Por&nbsp;
                    <span class="author">
                        <a href="http://tecnoblog.net/author/rafacst/" title="Posts by Rafael Silva">Nicos Karalis</a>
                    </span>&nbsp;<br>
                    21/06/2011 às 09h51
                </div>
            </div> 